@import url("#");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body {
    background: #000;
    background: url(/assets/bg.jpeg);
    background-position: center;
    width: 80%;
    height: 80%;
}
body::before {
    content: "";
    position: relative;
    left: 0;
    top: 0;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    background-position: center;
}
div .icon {
    align-items: center;
}
div h2 { 
    text-align: center;
}
div p{
    text-align: center;
    padding: 8px;
    font-size: x-small;
}

.ikon{
    width: 20px;
    height: 20px;
    margin: auto;
}

.form-wrapper {
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 16px;
    padding: 40px;
    width: 450px;
    transform: translate(-50%, -50%);
    background: #181A1CD6;

    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
}
.form-wrapper h2 {
    color: #fff;
    font-size: 2rem;
}
.form-wrapper form {
    margin: 25px 0 65px;
}
form .form-control {
    height: 50px;
    position: relative;
    margin-bottom: 16px;
}
.form-control input {
    height: 100%;
    width: 100%;
    background: #333;
    border: none;
    outline: none;
    border-radius: 24px;
    color: #fff;
    font-size: 1rem;
    padding: 10px 10px 10px;
    -webkit-border-radius: 24px;
    -moz-border-radius: 24px;
    -ms-border-radius: 24px;
    -o-border-radius: 24px;
}
.form-control input:is(:focus, :valid) {
    background: #444;
    padding: 16px 20px 0;
}
.form-control label {
    position: absolute;
    left: 20px;
    top: 50%;
    font-size: 1rem;
    pointer-events: none;
    color: #ffffff;
    transition: all 0.1s ease;
}
.form-control input:is(:focus, :valid)~label {
    font-size: 0.75rem;
}
form button {
    width: 100%;
    padding: 16px;
    font-size: 1rem;
    background: #3D4142;
    color: #fff;
    font-weight: 500;
    border-radius: 24px;
    margin: 25px 0 10px;
    transition: 0.1s ease;

}
.form-wrapper a {
    text-decoration: none;
}
.form-wrapper a:hover {
    text-decoration: underline;
}
.form-wrapper :where(label, p, small, a) {
    color: #b3b3b3;
}
form .form-help {
    display: flex;
    justify-content: space-between;
}
form .remember-me {
    display: flex;
}
form .remember-me input {
    margin-right: 5px;
    accent-color: #ffffff;
}
form .form-help :where(label, a) {
    font-size: 0.9rem;
}
.form-wrapper p a {
    color: #fff;
}
.form-wrapper small {
    display:flex;
    margin-top: 15px;
    color: #ffffff;
}
.form-wrapper small a {
    color: #0071eb;
}
@media (max-width: 740px) {
    body::before {
        display: none;
    }
    nav, .form-wrapper {
        padding: 20px;
    }
    nav a img {
        width: 140px;
    }
    .form-wrapper {
        width: 100%;
        top: 43%;
    }
    .form-wrapper form {
        margin: 25px 0 40px;
    }
}